apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
  labels:
    alertmanagerConfig: enabled
spec:
  route:
    receiver: pushover
    groupBy:
      - alertname
      - instance
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 3h
    matchers:
      - name: severity
        value: critical
        matchType: =

  receivers:
    - name: pushover
      pushoverConfigs:
        - token:
            name: alertmanager-pushover
            key: PUSHOVER_API_TOKEN
          userKey:
            name: alertmanager-pushover
            key: PUSHOVER_USER_KEY
          priority: "1"                     # <-- FIXED (must be string)
          sendResolved: true
          title: >-
            [{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}
          message: >-
            {{- range .Alerts }}
              {{- if .Annotations.description }}
                {{ .Annotations.description }}
              {{- else if .Annotations.summary }}
                {{ .Annotations.summary }}
              {{- else }}
                Alert: {{ .Labels.alertname }}
              {{- end }}
            {{- end }}

