apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: observability
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.5.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: observability
      interval: 12h

  install:
    crds: Create
  upgrade:
    crds: CreateReplace

  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/metadata/annotation/prometheus-operator-validated"]
        target:
          kind: PrometheusRule

  values:
    alertmanager:
      resources:
        requests:
          cpu: "30m"
          memory: "64Mi"
          ephemeral-storage: "128Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"
          ephemeral-storage: "512Mi"
      alertmanagerSpec:
        alertmanagerConfigSelector:
          matchLabels:
            alertmanagerConfig: enabled
        alertmanagerConfigNamespaceSelector:
          matchLabels:
            alertmanagerConfig: enabled
    grafana:
      resources:
        requests:
          cpu: "30m"
          memory: "64Mi"
          ephemeral-storage: "128Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"
          ephemeral-storage: "512Mi"
      enabled: true
      podAnnotations:
        reloader.stakater.com/auto: "true"

      serviceAccount:
        create: true

          #persistence:
          #enabled: true
          #type: pvc
          #accessModes:
          #- ReadWriteOnce
          #size: 5Gi
          #storageClassName: longhorn
          #finalizers:
          #- kubernetes.io/pvc-protection

      sidecar:
        dashboards:
          enabled: true
        datasources:
          enabled: true

      admin:
        existingSecret: grafana-admin-creds
        userKey: admin-user
        passwordKey: admin-password

      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          cert-manager.io/acme-challenge-type: "http01"
        hosts:
          - graf.heroaero.info
        tls:
          - secretName: grafana-tls
            hosts:
              - graf.heroaero.info
    additionalPrometheusRulesMap:
      blackbox-rules:
        groups:
          - name: blackbox-exporter.rules
            rules:
              - alert: BlackboxProbeFailed
                expr: probe_success == 0
                for: 1m
                labels:
                  severity: critical
                annotations:
                  summary: "Blackbox probe failed for {{ $labels.instance }}"
                  description: "Probe to {{ $labels.instance }} failed."

              - alert: BlackboxHighLatency
                expr: probe_duration_seconds > 1
                for: 2m
                labels:
                  severity: warning
                annotations:
                  summary: "Blackbox probe latency high"
                  description: "Probe to {{ $labels.instance }} is slow ({{ $value }} seconds)."

              - alert: BlackboxBadStatus
                expr: probe_http_status_code != 200
                for: 1m
                labels:
                  severity: critical
                annotations:
                  summary: "Blackbox bad HTTP status"
                  description: "Target {{ $labels.instance }} returned {{ $value }} instead of 200."

