apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  chart:
    spec:
      chart: cilium
      version: "1.19.0-pre.2"
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  interval: 1h
  values:
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    dashboards:
      enabled: true
    ipam:
      mode: kubernetes
    hubble:
      enabled: false   # can turn on later
    # IMPORTANT: update these two
    k8sServiceHost: 10.6.6.116   # e.g. 10.6.1.35
    k8sServicePort: 6443
    kubeProxyReplacement: true
    localRedirectPolicy: true

    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
          trustCRDsExist: true
      replicas: 2
      rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    securityContext:
        capabilities:
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_ADMIN
            - SYS_RESOURCE
            - PERFMON
            - BPF
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
