apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chart:
    spec:
      chart: cilium
      version: "1.19.0-pre.2"
      sourceRef:
        kind: HelmRelease
        name: cilium
        namespace: kube-system
  interval: 1h
  values:
    autoDirectNodeRoutes: true

    bandwidthManager:
      enabled: true
      bbr: true

    bpf:
      datapathMode: netkit
      masquerade: true
      preallocateMaps: true
      tproxy: true

    bpfClockProbe: true

    # Turn BGP OFF for now
    bgpControlPlane:
      enabled: false

    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup

    cni:
      exclusive: true

    dashboards:
      enabled: true

    # REMOVE devices: bond+ unless you actually have bond interfaces
    # devices: bond+

    enableIPv4BIGTCP: true

    endpointRoutes:
      enabled: true

    envoy:
      enabled: false

    hubble:
      enabled: false   # can turn on later

    ipam:
      mode: kubernetes

    ipv4NativeRoutingCIDR: 10.42.0.0/16

    # IMPORTANT: update these two
    k8sServiceHost: 10.6.6.116   # e.g. 10.6.1.35
    k8sServicePort: 6443

    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    l2announcements:
      enabled: false

    loadBalancer:
      algorithm: maglev
      mode: dsr

    localRedirectPolicy: true

    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
          trustCRDsExist: true
      replicas: 2
      rollOutPods: true

    pmtuDiscovery:
      enabled: true

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true

    rollOutCiliumPods: true
    routingMode: native

    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE

