apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  interval: 1h
  chart:
    spec:
      chart: reloader
      version: "2.2.5"
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: kube-system
  values:
    reloader:
      auto: true
