apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata: 
  name: traefik
spec:
  interval: 1h
  chart:
    spec:
      chart: traefik
      version: "v1.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
