apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  chart:
    spec:
      chart: cert-manager
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: cert-manager
      version: v1.19.1
  interval: 1h
  values:
    installCRDs: true
    crds:
      enabled: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    webhook:
      replicaCount: 2
      podDisruptionBudget:
        enabled: true
