apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: aws-secret-manager
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets
  interval: 1h
  path: ./kubernetes/apps/external-secrets/aws-secrets-manager/app
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: external-secrets

