apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/alerts
resources:
  - ./namespace.yaml
  - ./fluent-bit/ks.yaml
  - ./keda/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./blackbox-exporter/ks.yaml
