apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  interval: 10m
  chart:
    spec:
      chart: keda
      version: "2.18.1"
      sourceRef:
        kind: HelmRepository
        name: keda
        namespace: observability
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    installCRDs: true
    enableServiceLinks: false
    prometheus:
      metricServer:
        enabled: true
        serviceMonitor:
          enabled: true
      operator:
        enabled: true
        serviceMonitor:
          enabled: true
      webhooks:
        enabled: true
        serviceMonitor:
          enabled: true
