apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: "0 */4 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: renovate
              image: renovate/renovate:latest
              resources:
                requests:
                  cpu: "30m"
                  memory: "64Mi"
                  ephemeral-storage: "128Mi"
                limits:
                  cpu: "200m"
                  memory: "128Mi"
                  ephemeral-storage: "512Mi"
                args:
                - heroaero-dev/kube-homelab-v2

              envFrom:
                - secretRef:
                    name: renovate
                - configMapRef:
                    name: renovate-configmap

          restartPolicy: Never
