apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      #securityContext:
      #fsGroup: 911
      #runAsUser: 911
        #runAsGroup: 911
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.5.0
        name: mealie
          # securityContext:
          #allowPrivilegeEscalation: false
        resources:
            requests:
              ephemeral-storage: "200Mi"
            limits:
              ephemeral-storage: "500Mi"
        ports:
          - containerPort: 9000
        env:
          - name: SECURITY_MAX_LOGIN_ATTEMPTS
            value: "5"
          - name: PUID
            value: "911"
          - name: PGID
            value: "911"
          - name: SECURITY_USER_LOCKOUT_TIME
            value: "24"
              #volumeMounts:
              #- mountPath: /app/data
              #name: mealie
              #volumes:
              #- name: mealie
              #persistentVolumeClaim:
              #claimName: mealie
