apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: home-assistant
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.2@sha256:ff7eb7c296bb514704804a6d68d67e6858edb4366ee38d1c3089e837230a9172
            env:
              TZ: America/New_York
              HASS_HTTP_TRUSTED_PROXY_1: 10.6.6.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            #envFrom:
            #  - secretRef:
            #      name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi

    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 8123
            appProtocol: kubernetes.io/ws

    ingress:
      main:
        enabled: true
        hosts:
          - host: home.heroaero.net
            paths:
              - path: /
                pathType: Prefix

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config

      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/.venv

      tmp:
        type: emptyDir

