apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h

  chartRef:
    kind: OCIRepository
    name: home-assistant
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.1@sha256:f13f9b91beffd015aaa8d1dcd987d0955dcc3ffb2653d7e1c31a0a79e2a27a48
            env:
              TZ: America/New_York
              HASS_HTTP_TRUSTED_PROXY_1: 10.6.6.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: 8123
    ingress:
      main:
        enabled: true
        hosts:
          - host: home.heroaero.dev
            paths:
              - path: /
                pathType: Prefix
                  #
                  #persistence:
                  #config:
                  #existingClaim: "{{ .Release.Name }}"
                  #globalMounts:
                  #- path: /config
                  #
                  #config-cache:
                  #existingClaim: "{{ .Release.Name }}-cache"
                  #globalMounts:
                  #- path: /config/.venv
                  #
                  #tmp:
                  #type: emptyDir
                  #
