apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata: 
  name: external-secrets
spec:
  interval: 1h
  chart:
    spec:
      chart: external-secrets
      version: "v1.0.0"
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: external-secrets
  values:
    leaderElect: true
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
    certController:
      serviceMonitor:
        enabled: true
    webhook:
      replicaCount: 2
      serviceMonitor:
        enabled: true
